@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 90vw;
}

a{
    text-decoration: none;
}
.quotes{
  font-size: 25px;
  color: black;
  text-shadow: 0 0 2px currentColor;
}


.what_img{
    filter: drop-shadow(0 0 5px #30312a);
    animation: glow 1s alternate infinite;
}
@keyframes glow {
    0%{
        filter: drop-shadow(0 0 5px #30312a);
    }
    100%{
        filter: drop-shadow(0 0 25px #30312a);
    }
}

.home{
  background-color:#cec8b2;
}
.learn_section{
    background-color: #eeeaf2 !important;
}
.learn_section,.quotes{
    font-family: 'Playpen Sans', cursive;
}

.about_quotes{
    position: relative;
    font-size: 2rem;
    letter-spacing: 0.05em;
    font-family: poppins;
}

.about_quotes span{
    color: #555;
     transition: 0.25s;
}
.about_quotes:hover span{
    color: #feb69e;
    text-shadow: 0 0 5px #30312a,
    0 0 15px #feb69e,
    0 0 30px #30312a;
}







#services{
  background-color: lightcoral;
}
.service{
  font-family: 'Playpen Sans', cursive;
}
.service_content{
  font-family: Open Sans,HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: lighter;
  font-size: 18px;
}
.team{
    background-color: white;
  text-align: center;
  padding:20px;
   width: 100%;
    color: black;
}

.team h2{
    font-size: 20px;
}


.chef{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
}
.chef .heading span{
    color: #000;
}
.chef .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;

}

.chef .box-container .box{
    height: 20rem;
    width: 15rem;
    margin: 2rem;
    border: .5rem solid var(--red);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    
}
.box{
    display: none;
}

.chef .box-container .box img{
    height: 30%;
    width: 40%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
}
.chef .box-container .box p{
    padding:5px;
    font-size: 15px;
}

.chef .box-container .box .info{
    position: absolute;
    bottom: -6rem;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: .5rem solid var(--red);
    text-align: center;
    border-top: 5px solid black;

}

.chef .box-container .box:hover .info{
    bottom: 0rem;

}


.chef .box-container .box .info h3{
    font-size: 2rem;
    color: #333;
    padding: .5rem 0;
}

.chef .box-container .box .info span{
    font-size: 1rem;
    color: #666;
}

.chef .box-container .box .info .share{
    margin-top: 1rem;
    border-top: .1rem solid rgba(0,0,0,0.3);
    padding: 1rem 0;
}

.chef .box-container .box .info .share a{
    font-size: 2rem;
    margin: 1rem;
    color: var(--red);
}

.chef .box-container .box .info .share a:hover{
    color: #333;
}

.team button{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#loadMore{
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: black;
    transition: .3s;
}
#loadMore:hover {
    color: black;
    background-color: #fff;
    border: 1px solid black;
    text-decoration: none;
  }



  .contact_heading,.contact_para{
    text-align: center;
  }
  label{
    display:block;
    margin:1em 0 .2em;
  }
  /* single-line text, checkbox, and button */
  input, select, textarea{
    display:block;
    width:100%;
    padding:.3em;
    font-size:20px;
    background-color:#fbfbfb;
    border:solid 1px #CCC;
    resize:vertical;
  }
  textarea{
    min-height:180px;
  }
  select{
    color:indigo;
  }
  option{
    color:blue;
    background: lavenderBlush;
  }
  input[type=checkbox]{
    display:inline;
    width:auto;
    color:red;
  }
  
  input[type=submit]{
    background:lightcoral;
    margin:1em 0 0;
    color:white;
    border:none;
    border-radius:8px;
    transition:all .3s ease-out;
  }
  
  input:focus,
  input:hover,
  select:focus,
  select:hover,
  textarea:focus,
  textarea:hover{
    background: lavenderBlush;
  }
  
  /* hover and focus states */
  input[type=submit]:hover,
  input[type=submit]:focus{
    background: lightgreen;
    outline:none;
  }
  
  @media screen and (min-width:600px) {
    /*  make the form 2 columns */
    .contact:after{
      content:'';
      display:block;
      clear:both;
    }
    .column{
      width:50%;
      padding:1em;
      float:left;
    }
  }
  
  
  
  
  


  .footer {
    background-color: #D7C2BB;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  
  .footer .heading {
    color: #000;
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
  }
  
  .footer .content p {
    margin-bottom: 1.3rem;
  }
  
  .footer .content a {
    text-decoration: none;
    color: #000;
  }
  
  .footer .content a:hover {
    border-bottom: 1px solid #971717;
  }
  
  .footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
  }
  
  footer {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  footer hr {
    margin: 2rem 0;
  }
  
  @media (max-width: 767px) {
    .footer .content {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
  
    .footer {
      position: unset;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer .content,
    .footer {
      font-size: 14px;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .footer {
      position: unset;
    }
  }



  .button {
    display: inline-block;
    background: lightcoral;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }
  .button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.2);
            background: lightcoral;
  }

  
.navbar-nav>li>a{

  text-transform: uppercase;
  font-size: 12px;
  margin-right:20px;
  color: #fff;
}


.navbar-toggler {
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white;

    }

    .nav-link{

      color: #fff !important;
    }


.wrapper{
      width: 100%;
    position: absolute;
    height: 100%;
    background-color: #000;
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all;
}

.navbar-brand{

  color:#fff;
  font-family: 'Allerta Stencil', sans-serif;
  margin-bottom: 4px;
  font-size: 27px;
}

.navbar-red:hover .wrapper{

  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);

}

.navbar-brand:hover{

  color:#fff;
  
}

.navbar-red{

  background-color: red;
  color: #fff;

}

.all-show{

  z-index: 10;
}
.logo{
    width: 40px;
    height: 40px;;
}

.nav-item{
  border: 2px solid;
  border-image: repeating-linear-gradient(135deg,#0f0d03 0 10px,hsla(32, 98%, 46%, 0.499) 0 20px,#bd15502f 0 30px) 8;
  -webkit-mask: 
    conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
     var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
    conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
     0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: .3s, -webkit-mask-position .3s .3s;
}
.nav-item:hover {
  --_i: 100%;
  color: #000;
  transition: .3s, -webkit-mask-size .3s .3s;
}
.nav-link:hover{
  color: #000 !important;
  transition: .3s, -webkit-mask-size .3s .3s;

}






 
  @media screen and (max-width: 900px) {
    .box{
      display: none;
    }
    .button {
      display: inline-block;
      background: #4285f4;
      color: #fff;
      text-transform: uppercase;
      padding: 20px 30px;
      border-radius: 5px;
      box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      -webkit-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms;
    }
    .button:hover {
      box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
      -webkit-transform: translate(0px, -10px) scale(1.2);
              transform: translate(0px, -10px) scale(1.2);
    }
    .chef .box-container .box:hover .info{
      bottom: 0rem;
  
  }
  
  
}

  @media screen and (max-width: 700px){
    .side img{
        display: none;
    }
    /* .button {
      display: inline-block;
      background: #4285f4;
      color: #fff;
      text-transform: uppercase;
      padding: 20px 30px;
      border-radius: 5px;
      box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      -webkit-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms;
    } */
    .button:hover {
      box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
      -webkit-transform: translate(0px, -10px) scale(1.2);
              transform: translate(0px, -10px) scale(1.2);
    }
    .chef .box-container .box:hover .info{
      bottom: 0rem;
  
  }
  
  
  }

  @media screen and (max-width: 400px){
    .side img{
        display: none;
    }
    .button {
      display: inline-block;
      background: #4285f4;
      color: #fff;
      text-transform: uppercase;
      padding: 20px 30px;
      border-radius: 5px;
      box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      -webkit-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms;
    }
    .button:hover {
      box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
      -webkit-transform: translate(0px, -10px) scale(1.2);
              transform: translate(0px, -10px) scale(1.2);
    }
    .chef .box-container .box:hover .info{
      bottom: 0rem;
  
  }
  
  
  }




  
  .swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
    border: 5px solid #f8f8f8;
    display: block;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}



.fade-in-out {
  opacity: 0;
  animation: fade-in 1s ease-in forwards, fade-out 4s 1s ease-out forwards infinite;
  text-align: center;
  font-size: 30px;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}





.sticky-icon  {
	z-index:1;
	position:fixed;
	top:15%;
	right:0%;
	width:220px;
	display:flex;
	flex-direction:column;}  
.sticky-icon a  {
	transform:translate(160px,0px);
	border-radius:50px 0px 0px 50px;
	text-align:left;
	margin:2px;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px;
	font-size:15px;
	font-family:'Oswald', sans-serif;
	transition:all 0.8s;}
.sticky-icon a:hover  {
	color:#FFF;
	transform:translate(0px,0px);}	
.sticky-icon a:hover i  {
	transform:rotate(360deg);}
/*.search_icon a:hover i  {
	transform:rotate(360deg);}*/
.Facebook  {
	background-color:#2C80D3;
	color:#FFF;}
	
.Youtube  {
	background-color:#fa0910;
	color:#FFF;}
	
.Twitter  {
	background-color:#53c5ff;
	color:#FFF;}
	
.Instagram  {
	background-color:#FD1D1D;
	color:#FFF;}
	
.Google  {
	background-color:#d34836;
	color:#FFF;}						
.sticky-icon a i {
	background-color:#FFF;
	height:40px;
	width:40px;
	color:#000;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	margin-right:20px;
	transition:all 0.5s;}
.sticky-icon a i.fa-facebook-f  {
	background-color:#FFF;
	color:#2C80D3;}
	
.sticky-icon a i.fa-google-plus-g  {
	background-color:#FFF;
	color:#d34836;}
	
.sticky-icon a i.fa-instagram  {
	background-color:#FFF;
	color:#FD1D1D;}
	
.sticky-icon a i.fa-youtube  {
	background-color:#FFF;
	color:#fa0910;}
	
.sticky-icon a i.fa-twitter  {
	background-color:#FFF;
	color:#53c5ff;}
.fas fa-shopping-cart  {
	background-color:#FFF;}	
#myBtn {
	height:50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  text-align:center;
  padding:10px;
  text-align:center;
	line-height:40px;
  border: none;
  outline: none;
  background-color: #1e88e5;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}
.fa-arrow-circle-up  {
	font-size:30px;}

#myBtn:hover {
  background-color: #555;
}			







.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}
.confetti-piece {
  position: absolute;
  width: 10px;
  height: 30px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti-piece:nth-child(1) {
  left: 7%;
  -webkit-transform: rotate(-40deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 182ms;
  -webkit-animation-duration: 1116ms;
}
.confetti-piece:nth-child(2) {
  left: 14%;
  -webkit-transform: rotate(4deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 161ms;
  -webkit-animation-duration: 1076ms;
}
.confetti-piece:nth-child(3) {
  left: 21%;
  -webkit-transform: rotate(-51deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 481ms;
  -webkit-animation-duration: 1103ms;
}
.confetti-piece:nth-child(4) {
  left: 28%;
  -webkit-transform: rotate(61deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 334ms;
  -webkit-animation-duration: 708ms;
}
.confetti-piece:nth-child(5) {
  left: 35%;
  -webkit-transform: rotate(-52deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 302ms;
  -webkit-animation-duration: 776ms;
}
.confetti-piece:nth-child(6) {
  left: 42%;
  -webkit-transform: rotate(38deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 180ms;
  -webkit-animation-duration: 1168ms;
}
.confetti-piece:nth-child(7) {
  left: 49%;
  -webkit-transform: rotate(11deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 395ms;
  -webkit-animation-duration: 1200ms;
}
.confetti-piece:nth-child(8) {
  left: 56%;
  -webkit-transform: rotate(49deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 14ms;
  -webkit-animation-duration: 887ms;
}
.confetti-piece:nth-child(9) {
  left: 63%;
  -webkit-transform: rotate(-72deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 149ms;
  -webkit-animation-duration: 805ms;
}
.confetti-piece:nth-child(10) {
  left: 70%;
  -webkit-transform: rotate(10deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 351ms;
  -webkit-animation-duration: 1059ms;
}
.confetti-piece:nth-child(11) {
  left: 77%;
  -webkit-transform: rotate(4deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 307ms;
  -webkit-animation-duration: 1132ms;
}
.confetti-piece:nth-child(12) {
  left: 84%;
  -webkit-transform: rotate(42deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 464ms;
  -webkit-animation-duration: 776ms;
}
.confetti-piece:nth-child(13) {
  left: 91%;
  -webkit-transform: rotate(-72deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 429ms;
  -webkit-animation-duration: 818ms;
}
.confetti-piece:nth-child(odd) {
  background: #7431e8;
}
.confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  -webkit-animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  -webkit-animation-duration: 2500ms;
  -webkit-animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
background: red;
}
@-webkit-keyframes makeItRain {
  from {opacity: 0;}
  50% {opacity: 1;}
  to {-webkit-transform: translateY(350px);}
}




img{
  vertical-align:bottom;
  max-width:100%;
  width: 100%;
}
h1,h2,p{
  margin: 0;
}
/*===================
animation01
====================*/
.animation01{
  position: absolute;
  width: 100%;
  height: 100%;
}
.border_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15vw;
  height: 15vw;
}
.line{
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #845b46;
  opacity: 0;
}
.line01{
  top: 0;
  left: 100%;
  width: 0.15vw;
  height: 15.15vw;
  transform-origin: bottom;
  animation: animation01_line01 0.2s linear 0.3s forwards;
}
.line03{
  top: 0;
  left: 0;
  width: 0.15vw;
  height: 15.15vw;
  transform-origin: bottom;
  animation: animation01_line01 0.2s linear 0.6s forwards;
}
@keyframes animation01_line01{
  0%{
      transform: scale3d(1,0,1);
      opacity: 1;
  }
  100%{
      transform: scale3d(1,1,1);
      opacity: 1;
  }
}
.line02{
  top: 100%;
  left: 0;
  width: 15.15vw;
  height: 0.15vw;
  transform-origin: right;
  animation: animation01_line02 0.2s linear 0.4s forwards;
}
.line04{
  top: 0;
  left: 0;
  width: 15.15vw;
  height: 0.15vw;
  transform-origin: left;
  animation: animation01_line02 0.2s linear 0.8s forwards;
}
@keyframes animation01_line02{
  0%{
      transform: scale3d(0,1,1);
      opacity: 1;
  }
  100%{
      transform: scale3d(1,1,1);
      opacity: 1;
  }
}
.circle{
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1.2vw;
  height: 1.2vw;
  border: 0.1vw solid #fff;
  border-radius: 50%;
  opacity: 0;
}
.circle01{
  top: 96%;
  left: 96%;
  margin: 0 auto;
  animation: animation01_circle 0.3s linear 0.3s forwards;
}
.circle02{
  top: 96%;
  left: -99%;
  margin: 0 auto;
  animation: animation01_circle 0.3s linear 0.45s forwards;
}
.circle03{
  top: -4%;
  left: -99%;
  margin: 0 auto;
  animation: animation01_circle 0.3s linear 0.65s forwards;
}
.circle04{
  top: -4%;
  left: 96%;
  margin: 0 auto;
  animation: animation01_circle 0.3s linear 0.85s forwards;
}
@keyframes animation01_circle{
  0%{
      transform: scale3d(0,0,1);
      opacity: 1;
  }
  40%{
      transform: scale3d(1,1,1);
      opacity: 1;
  }
  60%{
      transform: scale3d(1,1,1);
      opacity: 1;
  }
  100%{
      transform: scale3d(0,0,1);
      opacity: 1;
  }
}

.wave{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13.5vw;
  height: 13.5vw;
  overflow: hidden;
}
.wave_wrapper{
  width: 200%;
  height: 150%;
  position: absolute;
  top: -25%;
  right: 0;
  bottom: 0;
  left: -50%;
  margin: 0 auto;
  animation: animation01_wave_wrapper 1s linear 1s forwards;
}
@keyframes animation01_wave_wrapper{
  0%{
      transform: rotate(0);
  }
  25%{
      transform: rotate(15deg);
  }
  50%{
      transform: rotate(0);
  }
  75%{
      transform: rotate(-15deg);
  }
  100%{
      transform: rotate(0);
  }
}
.wave_box{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: bottom;
  animation: animation01_wave_box 1s linear 1s forwards;
  opacity: 0;
}
@keyframes animation01_wave_box{
  0%{
      transform: scale3d(1,0,1);
      opacity: 1;
  }
  100%{
      transform: scale3d(1,1,1);
      opacity: 1;
  }
}
.animation_line{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: #fff;
  opacity: 0;
}
.animation_line_wrapper{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.animation_line01{
  top: -15%;
  left: 0;
  width: 0.2vw;
  height: 0.7vw;
  animation: animation_line01 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
  transform-origin: top;
}
.animation_line02_wrapper{
  transform: rotate(45deg)
}
.animation_line02{
  top: -35%;
  left: 0;
  width: 0.2vw;
  height: 0.7vw;
  animation: animation_line01 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
  transform-origin: top;
}
@keyframes animation_line01{
  0%{
      transform: translateY(0);
      opacity: 1;
  }
  100%{
      transform: translateY(-1.5vw);
      opacity: 1;
  }
}
.animation_line03{
  top: 50%;
  left: 110%;
  width: 0.7vw;
  height: 0.2vw;
  animation: animation_line03 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
  transform-origin: right;
}
.animation_line04_wrapper{
  transform: rotate(45deg)
}
.animation_line04{
  top: 50%;
  left: 128%;
  width: 0.7vw;
  height: 0.2vw;
  animation: animation_line03 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
  transform-origin: right;
}
@keyframes animation_line03{
  0%{
      transform: translateX(0);
      opacity: 1;
  }
  100%{
      transform: translateX(1.5vw);
      opacity: 1;
  }
}
.animation_line05{
  top: 110%;
  left: 0;
  width: 0.2vw;
  height: 0.7vw;
  animation: animation_line05 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
  transform-origin: bottom;
}
.animation_line06_wrapper{
  transform: rotate(45deg)
}
.animation_line06{
  top: 128%;
  left: 0;
  width: 0.2vw;
  height: 0.7vw;
  animation: animation_line05 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
  transform-origin: bottom;
}
@keyframes animation_line05{
  0%{
      transform: translateY(0);
      opacity: 1;
  }
  100%{
      transform: translateY(1.5vw);
      opacity: 1;
  }
}
.animation_line07{
  top: 50%;
  left: -130%;
  width: 0.7vw;
  height: 0.2vw;
  animation: animation_line07 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
  transform-origin: left;
}
.animation_line08_wrapper{
  transform: rotate(45deg)
}
.animation_line08{
  top: 50%;
  left: -162%;
  width: 0.7vw;
  height: 0.2vw;
  animation: animation_line07 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
  transform-origin: left;
}
@keyframes animation_line07{
  0%{
      transform: translateX(0);
      opacity: 1;
  }
  100%{
      transform: translateX(-1.5vw);
      opacity: 1;
  }
}

.rhombus{
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rhombus 0.2s linear 2.2s forwards;
}
@keyframes rhombus {
  0%{
      transform: rotate(0)
  }
  100%{
      transform: rotate(45deg)
  }
}
.rhombus_small{
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rhombus_small 0.4s linear 2.55s forwards;
}
@keyframes rhombus_small {
  0%{
      transform: scale3d(1,1,1);
      opacity: 1;
  }
  99%{
      transform: scale3d(0.15,0.15,0.15);
      opacity: 1;
  }
  100%{
      transform: scale3d(0.15,0.15,0.15);
      opacity: 0;
  }
}

/*===================
animation02
====================*/
.animation02{
  position: absolute;
  width: 100%;
  height: 100%;
}
.rhombus_box{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 40vw;
  height: 40vw;
  animation: rhombus_box 0.4s linear 3.55s forwards;
}
.rhombus_item_wrapper{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 2.1vw;
  height: 2.1vw;
  opacity: 0;
}
.rhombus_item{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 2.1vw;
  height: 2.1vw;
  background-color: #fff;
  transform: rotate(45deg)
}
.rhombus_item01_wrapper{
  animation: rhombus_item01 0.5s linear 2.95s forwards;
}

.rhombus_item02_wrapper{
  animation: rhombus_item02 0.5s linear 2.95s forwards;
}
@keyframes rhombus_item01{
  0%{
      transform: translateX(0);
      opacity: 1;
  }
  100%{
      transform: translateX(-18.5vw);
      opacity: 1;
  }
}
@keyframes rhombus_item02{
  0%{
      transform: translateX(0);
      opacity: 1;
  }
  100%{
      transform: translateX(18.5vw);
      opacity: 1;
  }
}
@keyframes rhombus_box{
  0%{
      transform: rotate(0)
  }
  100%{
      transform: rotate(360deg)
  }
}

.double_content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.double_wrapper02{
  position: relative;
  width: 100%;
  height: 100%;
  animation: double_content forwards;
  opacity: 0;
}
.double_wrapper01{
  display: block;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}
.double_wrapper01::before {
  content: "";
  display: block;
  position: absolute;
  background: #212022;
  z-index: 2;
}
.double_wrapper01::after {
  content: "";
  display: block;
  position: absolute;
  background: #212022;
  z-index: 3;
}
/*============
dotted circle
============*/
.dotted02{
  top: 0;
  animation-delay: 4.2s;
}
.dotted_hide{
  position: absolute;
  width: 31vw;
  height: 31vw;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
}
.dotted01{
  width: 30vw;
  height: 30vw;
  border: dotted 0.5vw #fff;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
}
.dotted_right::before{
  content: "";
  display: block;
  position: absolute;
  background: #212022;
  z-index: 3;
}
.dotted_right::before{
  top: 0;
  left: 0;
  width: 32vw;
  height: 32vw;
  transform-origin: left 16vw;
  animation: rotate-circle-right 0.5s linear 4.2s forwards;
}
.dotted_right{
  position: absolute;
  width: 16vw;
  height: 32vw;
  z-index: 1;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.dotted01::after{
  top: -1vw;
  left: -17vw;
  width: 32vw;
  height: 32vw;
  transform-origin: right 16vw;
  animation: rotate-circle-left01 0.5s linear 4.2s forwards;
}
@keyframes rotate-circle-left01 {
  0%   {
      transform: rotate(0deg);
      background: #212022;
      opacity: 1;
  }
  50%  {
      transform: rotate(-180deg);
      background: #212022;
      opacity: 1;
  }
  50.01% {
      transform: rotate(0deg);
      opacity: 0;
  }
  100% {
      transform: rotate(0deg);
      opacity: 0;
  }
}
/*============
white circle
============*/
.white02{
  top: -100%;
  animation-delay: 4.7s;
}
.white01{
  width: 29vw;
  height: 29vw;
  background: #fff;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.white01::before{
  top: 0;
  left: 14.5vw;
  width: 29vw;
  height: 29vw;
  transform-origin: left 14.5vw;
  animation: rotate-circle-right 0.3s linear 4.7s forwards;

}
.white01::after{
  top: 0;
  left: -14.5vw;
  width: 29vw;
  height: 29vw;
  transform-origin: right 14.5vw;
  animation: rotate-circle-left 0.3s linear 4.7s forwards;
}
@keyframes rotate-circle-left {
  0%   {
      transform: rotate(0deg);
      background: #212022;
  }
  50%  {
      transform: rotate(-180deg);
      background: #212022;
  }
  50.01% {
      transform: rotate(-360deg);
      background: #fff;
  }
  100% {
      transform: rotate(-360deg);
      background: #fff;
  }
}
/*============
gray circle
============*/
.gray02{
  top: -200%;
  animation-delay: 4.8s;
}
.gray01{
  width: 8vw;
  height: 8vw;
  background: #808184;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gray01::before{
  top: 0;
  left: 4vw;
  width: 8vw;
  height: 8vw;
  background: #fff;
  transform-origin: left 4vw;
  animation: rotate-circle-right 0.5s linear 4.8s forwards;

}
.gray01::after{
  top: 0;
  left: -4vw;
  width: 8vw;
  height: 8vw;
  background: #fff;
  transform-origin: right 4vw;
  animation: rotate-circle-left03 0.5s linear 4.8s forwards;
}
@keyframes rotate-circle-left03 {
  0%   {
      transform: rotate(0deg);
      background: #fff;
  }
  50%  {
      transform: rotate(-180deg);
      background: #fff;
  }
  50.01% {
      transform: rotate(-360deg);
      background: #808184;
  }
  100% {
      transform: rotate(-360deg);
      background: #808184;
  }
}
/*============
orange circle
============*/
.orange02{
  top: -300%;
  animation-delay: 5.3s;
}
.orange01{
  width: 27vw;
  height: 27vw;
  background: #f47141;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.orange01::before{
  top: 0;
  left: 13.5vw;
  width: 27vw;
  height: 27vw;
  background: #fff;
  transform-origin: left 13.5vw;
  animation: rotate-circle-right 0.5s linear 5.3s forwards;

}
.orange01::after{
  top: 0;
  left: -13.5vw;
  width: 27vw;
  height: 27vw;
  background: #fff;
  transform-origin: right 13.5vw;
  animation: rotate-circle-left02 0.5s linear 5.3s forwards;
}
@keyframes rotate-circle-left02 {
  0%   {
      transform: rotate(0deg);
      background: #fff;
  }
  50%  {
      transform: rotate(-180deg);
      background: #fff;
  }
  50.01% {
      transform: rotate(-360deg);
      background: #f47141;
  }
  100% {
      transform: rotate(-360deg);
      background: #f47141;
  }
}

@keyframes double_content{
  0%{
  opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
@keyframes rotate-circle-right {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(0deg); }
  100% { transform: rotate(-180deg); }
}

.name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 30vw;
  animation: name 1.0s cubic-bezier(0.165, 0.84, 0.44, 1) 5.9s forwards;
  opacity: 0;
}
.name p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.0vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.1em;
}
.name_circle01{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
}
.name_circle02{
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
}
@keyframes name {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}


.quotes,.home_img,.button{
  visibility: hidden;
}
